h1 {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0px;
}

.advert-detail-link {
  text-decoration: none;
  color: black;
}

.advert-container {
  padding: 30px 20px;
  width: 50%;
  margin: 0 auto 40px auto;
  background-color: bisque;
  border-radius: 20px;
}

.photo-container {
  border-radius: 25px;
}

.delete-button {
  margin-bottom: 20px;
  margin-top: -20px;
}

.delete-button button {
  margin: 0 20px;
}
